kampf/ausstattung.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
       xmlns:nota="http://nota.org/schema/nota"
       xmlns:misc="http://nota.org/schema/misc"
        xmlns:wesen="http://nota.org/schema/lebewesen"
        xmlns:kultur="http://nota.org/schema/kultur"
        xmlns:profession="http://nota.org/schema/profession"
        xmlns:talent="http://nota.org/schema/talent"
        xmlns:fertigkeit="http://nota.org/schema/fertigkeit"
        xmlns:besonderheit="http://nota.org/schema/besonderheit"
        xmlns:ausstattung="http://nota.org/schema/kampf/ausstattung"
        targetNamespace="http://nota.org/schema/kampf/ausstattung"
        elementFormDefault="qualified">
  <import namespace="http://nota.org/schema/lebewesen" schemaLocation="../lebewesen.xsd"></import>
  <!--<import namespace="http://nota.org/schema/kultur" schemaLocation="kultur.xsd"></import>-->
  <!--<import namespace="http://nota.org/schema/profession" schemaLocation="profession.xsd"></import>-->
  <import namespace="http://nota.org/schema/misc" schemaLocation="..\misc.xsd"></import>
  <import namespace="http://nota.org/schema/talent" schemaLocation="../talent.xsd"></import>
  <!--<import namespace="http://nota.org/schema/fertigkeit" schemaLocation="fertigkeit.xsd"></import>-->
  <!--<import namespace="http://nota.org/schema/besonderheit" schemaLocation="besonderheit.xsd"></import>-->
  <!--<import namespace="http://nota.org/schema/kampf/aktionen" schemaLocation="kampf/aktionen.xsd"></import>-->
  <element name="Ausstattung">
    <complexType>
      <sequence>

        <element name="Waffen">
          <complexType>
            <sequence>
              <element name="Nahkampfwaffe" maxOccurs="unbounded" minOccurs="0">
                <complexType>
                  <sequence>
                    <element name="Name" type="misc:Lokalisierungen">
                      <unique name="SpracheUnique7">
                        <selector xpath="misc:Lokalisirung"/>
                        <field xpath="./@Sparche"/>
                        <field xpath="./@Geschlecht"/>
                      </unique>
                    </element>
                    <element name="Beschreibung" type="misc:Lokalisierungen">
                      <unique name="SpracheUnique8">
                        <selector xpath="misc:Lokalisirung"/>
                        <field xpath="./@Sparche"/>
                        <field xpath="./@Geschlecht"/>
                      </unique>
                    </element>
                    <element name="Schaden">
                      <complexType>
                        <sequence>
                          <element name="Wucht"   type="ausstattung:Schaden" minOccurs="0"/>
                          <element name="Schnitt" type="ausstattung:Schaden" minOccurs="0"/>
                        </sequence>
                      </complexType>
                    </element>
                    <element name="Eigenschaften" minOccurs="0">
                      <complexType>
                        <sequence maxOccurs="unbounded">
                          <element ref="ausstattung:Eigenschaft"/>
                        </sequence>
                      </complexType>
                    </element>
                    <element name="Talente" minOccurs="0">
                      <complexType>
                        <sequence maxOccurs="unbounded">
                          <element ref="talent:Talent"/>
                        </sequence>
                      </complexType>
                    </element>
                  </sequence>
                  <attribute name="WaffenTyp" type="ausstattung:WaffenTyp" use="optional" default="Offensiv|Defensiv"/>
                  <attribute name="DefensivModifizierer" type="int" use="optional" default="0"/>
                  <attribute name="OffensivModifizierer" type="int" use="optional" default="0"/>
                  <attribute name="Distanzklasse" type="int" use="required"/>
                  <attributeGroup ref="misc:NamedElement"/>
                </complexType>
              </element>
              <element name="Fernkampfwaffe" maxOccurs="unbounded" minOccurs="0">
                <complexType>
                  <sequence>
                    <element name="Name" type="misc:Lokalisierungen">
                      <unique name="SpracheUnique5">
                        <selector xpath="misc:Lokalisirung"/>
                        <field xpath="./@Sparche"/>
                        <field xpath="./@Geschlecht"/>
                      </unique>
                    </element>
                    <element name="Beschreibung" type="misc:Lokalisierungen">
                      <unique name="SpracheUnique6">
                        <selector xpath="misc:Lokalisirung"/>
                        <field xpath="./@Sparche"/>
                        <field xpath="./@Geschlecht"/>
                      </unique>
                    </element>
                    <element name="Schaden">
                      <complexType>
                        <sequence>
                          <element name="Wucht"   type="ausstattung:Schaden" minOccurs="0"/>
                          <element name="Schnitt" type="ausstattung:Schaden" minOccurs="0"/>
                        </sequence>
                      </complexType>
                    </element>
                    <element name="Schusseigenschaften">
                      <complexType>
                        <attribute name="Schussfrequenz" type="positiveInteger" use="required"/>
                        <attribute name="Magazingröße" type="positiveInteger" use="required"/>
                      </complexType>
                    </element>
                    <element name="Reichweiten" >
                      <complexType>
                        <sequence>
                          <element name="Reichweite" maxOccurs="unbounded">
                            <complexType>
                              <attribute name="Distanz" type="ausstattung:Schussreichweite" use="required"/>
                              <attribute name="Modifikator" type="int" use="required"/>
                              <attribute name="Schadensreduktion" type="positiveInteger"  use="optional"/>
                            </complexType>
                          </element>
                        </sequence>
                      </complexType>
                    </element>
                    <element name="Nachladezeit">
                      <complexType>
                        <attribute name="Wert" type="positiveInteger" use="required"/>
                        <attribute name="Einheit" type="ausstattung:Nachladeeinheit" use="required"/>
                      </complexType>
                    </element>
                    <element name="Eigenschaften" minOccurs="0">
                      <complexType>
                        <sequence maxOccurs="unbounded">
                          <element ref="ausstattung:Eigenschaft"/>
                        </sequence>
                      </complexType>
                    </element>
                    <element name="Talente" minOccurs="0">
                      <complexType>
                        <sequence maxOccurs="unbounded">
                          <element ref="talent:Talent"/>
                        </sequence>
                      </complexType>
                    </element>
                  </sequence>
                  <attribute name="WaffenTyp" type="ausstattung:WaffenTyp" use="optional" default="Offensiv|Defensiv"/>
                  <attribute name="DefensivModifizierer" type="int" use="optional" default="0"/>
                  <attribute name="OffensivModifizierer" type="int" use="optional" default="0"/>
                  <attributeGroup ref="misc:NamedElement"/>

                </complexType>
              </element>
            </sequence>
          </complexType>
        </element>

        <element name="Rüstungen">
          <complexType>
            <sequence>
              <element name="Rüstung" minOccurs="0" maxOccurs="unbounded">
                <complexType>
                  <sequence>
                    <element name="Name" type="misc:Lokalisierungen">
                      <unique name="SpracheUnique2">
                        <selector xpath="misc:Lokalisirung"/>
                        <field xpath="./@Sparche"/>
                        <field xpath="./@Geschlecht"/>
                      </unique>
                    </element>
                    <element name="Beschreibung" type="misc:Lokalisierungen">
                      <unique name="SpracheUnique3">
                        <selector xpath="misc:Lokalisirung"/>
                        <field xpath="./@Sparche"/>
                        <field xpath="./@Geschlecht"/>
                      </unique>
                    </element>
                    <element name="Schutz">
                      <complexType>
                        <sequence>
                          <element name="Flexibilität" type="ausstattung:Rüstwert" minOccurs="0"/>
                          <element name="Härte"        type="ausstattung:Rüstwert" minOccurs="0"/>
                          <element name="Dämpfung"     type="ausstattung:Rüstwert" minOccurs="0"/>
                        </sequence>
                      </complexType>
                    </element>
                    <element name="Trefferzonen">
                      <complexType>
                        <sequence>
                          <element name="Kopf" type ="ausstattung:Schutzwert"         minOccurs="0"/>
                          <element name="Brust" type ="ausstattung:Schutzwert"        minOccurs="0"/>
                          <element name="Rücken" type ="ausstattung:Schutzwert"       minOccurs="0"/>
                          <element name="Bauch" type ="ausstattung:Schutzwert"        minOccurs="0"/>
                          <element name="LinkerArm" type ="ausstattung:Schutzwert"    minOccurs="0"/>
                          <element name="RechterArm" type ="ausstattung:Schutzwert"   minOccurs="0"/>
                          <element name="LinkesBein" type ="ausstattung:Schutzwert"   minOccurs="0"/>
                          <element name="RechtesBein" type ="ausstattung:Schutzwert"  minOccurs="0"/>
                        </sequence>
                      </complexType>
                    </element>
                    <element name="Eigenschaften" minOccurs="0">
                      <complexType>
                        <sequence maxOccurs="unbounded">
                          <element ref="ausstattung:Eigenschaft"/>
                        </sequence>
                      </complexType>
                    </element>
                  </sequence>
                  <attribute name="Erschwernis" type="int" use="required"/>
                  <attributeGroup ref="misc:NamedElement"/>
                </complexType>
              </element>
            </sequence>
          </complexType>
        </element>

        <element name="Eigenschaften">
          <complexType>
            <sequence>
              <element name="Eigenschaft" minOccurs="0" maxOccurs="unbounded">
                <complexType>
                  <sequence>
                    <element name="Name" type="misc:Lokalisierungen">
                      <unique name="SpracheUnique">
                        <selector xpath="misc:Lokalisirung"/>
                        <field xpath="./@Sparche"/>
                        <field xpath="./@Geschlecht"/>
                      </unique>
                    </element>
                    <element name="Beschreibung" type="misc:Lokalisierungen">
                      <unique name="SpracheUnique1">
                        <selector xpath="misc:Lokalisirung"/>
                        <field xpath="./@Sparche"/>
                        <field xpath="./@Geschlecht"/>
                      </unique>
                    </element>
                  </sequence>
                  <attribute type="string" name="Id" use="required"/>
                </complexType>
              </element>
            </sequence>
          </complexType>
        </element>

      </sequence>

    </complexType>
  </element>

  <complexType name="Schaden">
    <attribute type="ausstattung:SchadensWurf" name="Schaden"/>
  </complexType>

  <simpleType name="SchadensWurf">
    <restriction base="string">
      <pattern value="(([1-9][0-9]*)?W[1-9][0-9]*(\+[1-9][0-9]*)?)|([1-9][0-9]*)" />
    </restriction>
  </simpleType>

  <simpleType name="WaffenTyp">
    <restriction base="string">
      <enumeration value="Offensiv"/>
      <enumeration value="Defensiv"/>
      <enumeration value="Offensiv|Defensiv"/>
    </restriction>
  </simpleType>

  <simpleType name="Nachladeeinheit">
    <restriction base="string">
      <enumeration value="KR"/>
      <enumeration value="S"/>
    </restriction>
  </simpleType>

  <simpleType name="Schussreichweite">
    <union memberTypes="positiveInteger">
      <simpleType>
        <restriction base="string">
          <enumeration value="Nahkampf"/>
        </restriction>
      </simpleType>
    </union>
  </simpleType>

  <complexType name="Schutzwert">
    <sequence>
      <element name="Schutz" minOccurs="1" maxOccurs="unbounded">
        <complexType>
          <attribute name="Von">
            <simpleType>
              <restriction base="int">
                <minInclusive value="1"/>
                <maxInclusive value="10"/>
              </restriction>
            </simpleType>
          </attribute>
          <attribute name="Bis">
            <simpleType>
              <restriction base="int">
                <minInclusive value="1"/>
                <maxInclusive value="10"/>
              </restriction>
            </simpleType>
          </attribute>
        </complexType>
      </element>
    </sequence>
  </complexType>

  <complexType name="Rüstwert">
    <attribute type="nonNegativeInteger" name="Wert"/>
  </complexType>


  <element name="Eigenschaft" >
    <complexType>
      <attributeGroup ref="misc:NamedElement"/>
    </complexType>
  </element>

</schema>