lebewesen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:nota="http://nota.org/schema/nota"
        xmlns:misc="http://nota.org/schema/misc"
        xmlns:lebewesen="http://nota.org/schema/lebewesen"
        xmlns:pfad="http://nota.org/schema/pfad"
        xmlns:profession="http://nota.org/schema/profession"
        xmlns:talent="http://nota.org/schema/talent"
        xmlns:fertigkeit="http://nota.org/schema/fertigkeit"
        xmlns:besonderheit="http://nota.org/schema/besonderheit"
        targetNamespace="http://nota.org/schema/lebewesen"
        elementFormDefault="qualified">
  <import namespace="http://nota.org/schema/misc" schemaLocation="misc.xsd"></import>
  <import namespace="http://nota.org/schema/pfad" schemaLocation="pfad.xsd"></import>
  <import namespace="http://nota.org/schema/talent" schemaLocation="talent.xsd"></import>
  <import namespace="http://nota.org/schema/fertigkeit" schemaLocation="fertigkeit.xsd"></import>
  <import namespace="http://nota.org/schema/besonderheit" schemaLocation="besonderheit.xsd"></import>
  <element name="Organismen">
    <complexType>
      <sequence>
        <element name="Gattung" minOccurs="1" maxOccurs="unbounded">
          <complexType>
            <sequence>
              <element name="Name" type="misc:Lokalisierungen">
                <unique name="SpracheUnique6">
                  <selector xpath="misc:Lokalisirung"/>
                  <field xpath="./@Sparche"/>
                  <field xpath="./@Geschlecht"/>
                </unique>
              </element>
              <element name="Beschreibung" type="misc:Lokalisierungen">
                <unique name="SpracheUnique5">
                  <selector xpath="misc:Lokalisirung"/>
                  <field xpath="./@Sparche"/>
                  <field xpath="./@Geschlecht"/>
                </unique>
              </element>
            </sequence>
            <attributeGroup ref="misc:NamedElement"/>
          </complexType>
        </element>
        <element name="Organismus" maxOccurs="unbounded" minOccurs="1" >
          <complexType>
            <sequence>

              <element ref="lebewesen:StandardPfade" minOccurs="0"/>

              <element name="Morphe">
                <complexType>
                  <choice>
                    <element name="Morph" minOccurs="1" maxOccurs="unbounded" type="lebewesen:Morph" />
                  </choice>
                </complexType>
              </element>
              <element name="Besonderheiten"  minOccurs="0"  >
                <complexType>
                  <sequence>
                    <element ref="besonderheit:Besonderheit" maxOccurs="unbounded"/>
                  </sequence>
                </complexType>
              </element>
              <element name="Name" type="misc:Lokalisierungen">
                <unique name="SpracheUnique">
                  <selector xpath="misc:Lokalisirung"/>
                  <field xpath="./@Sparche"/>
                  <field xpath="./@Geschlecht"/>
                </unique>
              </element>
              <element name="Art" type="misc:Lokalisierungen">
                <unique name="SpracheUnique4">
                  <selector xpath="misc:Lokalisirung"/>
                  <field xpath="./@Sparche"/>
                  <field xpath="./@Geschlecht"/>
                </unique>
              </element>
              <element name="Beschreibung" type="misc:Lokalisierungen">
                <unique name="SpracheUnique1">
                  <selector xpath="misc:Lokalisirung"/>
                  <field xpath="./@Sparche"/>
                  <field xpath="./@Geschlecht"/>
                </unique>
              </element>
            </sequence>
            <attribute type="string" name="Id" use="required"/>
            <attribute type="string" name="Gattung" use="required"/>
          </complexType>
        </element>
      </sequence>
    </complexType>
    <key name="GattungPK">
      <selector xpath="./lebewesen:Gattung"/>
      <field xpath="@Id"/>
    </key>

    <keyref name="GattungFK" refer="lebewesen:GattungPK">
      <selector xpath=".//lebewesen:Organismus"/>
      <field xpath="@Gattung"/>
    </keyref>

  </element>


  <element name="Gattung" type="misc:NamedType"/>
  <element name="Organismus" type="misc:NamedType"/>
  <element name="Morph" type="misc:NamedType"/>
  <element name="Lebensabschnitt" type="misc:NamedType"/>

  <element name="StandardPfade" >
    <annotation>
      <documentation xml:lang="de">
        Die Kulturen in denen sich dieses Wesen üblicherweise aufhält.
      </documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref="pfad:Pfad" maxOccurs="unbounded"/>
      </sequence>
    </complexType>
  </element>

  <complexType name="LebewesenAuswahl">
    <choice>
      <element ref="lebewesen:Or"></element>
      <element ref="lebewesen:And"></element>
      <element ref="lebewesen:Not"></element>
      <element ref="lebewesen:Organismus"/>
    </choice>
  </complexType>
  <complexType name="LebewesenAuswahlen">
    <choice maxOccurs="unbounded">
      <element ref="lebewesen:Or"></element>
      <element ref="lebewesen:And"></element>
      <element ref="lebewesen:Not"></element>
      <element ref="lebewesen:Organismus"/>
    </choice>
  </complexType>

  <element name="Or" type="lebewesen:LebewesenAuswahlen" />
  <element name="And" type="lebewesen:LebewesenAuswahlen" />
  <element name="Not" type="lebewesen:LebewesenAuswahl" />


  <complexType name="Morph" >
    <sequence>
      <element name="Name" type="misc:Lokalisierungen">
        <unique name="SpracheUnique2">
          <selector xpath="misc:Lokalisirung"/>
          <field xpath="./@Sparche"/>
          <field xpath="./@Geschlecht"/>
        </unique>
      </element>
      <element name="Beschreibung" type="misc:Lokalisierungen">
        <unique name="SpracheUnique3">
          <selector xpath="misc:Lokalisirung"/>
          <field xpath="./@Sparche"/>
          <field xpath="./@Geschlecht"/>
        </unique>
      </element>
      <element name="Eigenschaften">
        <complexType>
          <sequence>
            <element name="Mut" type="lebewesen:EigenschaftsWert" />
            <element name="Glück" type="lebewesen:EigenschaftsWert" />
            <element name="Klugheit" type="lebewesen:EigenschaftsWert" />
            <element name="Intuition" type="lebewesen:EigenschaftsWert" />
            <element name="Gewandtheit" type="lebewesen:EigenschaftsWert" />
            <element name="Feinmotorik" type="lebewesen:EigenschaftsWert" />
            <element name="Sympathie" type="lebewesen:EigenschaftsWert" />
            <element name="Antipathie" type="lebewesen:EigenschaftsWert" />
            <element name="Stärke" type="lebewesen:EigenschaftsWert" />
            <element name="Konstitution" type="lebewesen:EigenschaftsWert" />
          </sequence>
          <attribute type="int" name="Punkte" use="required">
            <annotation>
              <documentation xml:lang="de">
                <![CDATA[Die Anzahl der Punkte die auf die Eigneschaften verteilt werden müssen.]]>
              </documentation>
            </annotation>
          </attribute>
        </complexType>
      </element>

      <element ref="lebewesen:StandardPfade" minOccurs="0">
        <annotation>
          <documentation xml:lang="de">
            Die Kulturen in denen sich dieser Morph üblicherweise aufhält.
          </documentation>
        </annotation>

      </element>
      <element name="Besonderheiten"  minOccurs="0"  >
        <complexType>
          <sequence>
            <element ref="besonderheit:Besonderheit" maxOccurs="unbounded"/>
          </sequence>
        </complexType>
      </element>
      <element name="Lebensabschnitte"  >
        <complexType>
          <sequence>
            <element name="Lebensabschnitt" maxOccurs="unbounded" type="lebewesen:Lebensabschnitt">
            </element>
          </sequence>
        </complexType>
      </element>
    </sequence>
    <attributeGroup ref="misc:NamedElement"/>
    <attribute type="misc:Geschlecht" name="Geschlecht" default="Unspezifiziert" use="optional"/>
  </complexType>




  <complexType name="Lebensabschnitt" >
    <sequence>
      <element name="Spielbar" minOccurs="0">
        <complexType>
          <sequence>
            <element name="PfadPunkte" minOccurs="0" maxOccurs="unbounded" >
              <complexType>
                <attribute name="Pfade"  type="string" use="required"/>
                <attribute name="Punkte"  use="required">
                  <simpleType>
                    <restriction base="int">
                      <minInclusive value="1"/>
                    </restriction>
                  </simpleType>
                </attribute>
              </complexType>
            </element>
          </sequence>
          <attributeGroup ref="misc:KostenElement"/>
        </complexType>
      </element>
      <element name="Name" type="misc:Lokalisierungen"/>
      <element name="Beschreibung" type="misc:Lokalisierungen"/>
      <element name="Mods" minOccurs="0" type="lebewesen:Mods"/>
    </sequence>
    <attribute name="startAlter" type="float" use="required"/>
    <attribute name="endAlter" type="float" use="required"/>
    <attributeGroup ref="misc:NamedElement"/>
    <attribute name="minGröße" type="float" use="required">
      <annotation>
        <documentation xml:lang="de">
          Die minimale Größe in m.
        </documentation>
      </annotation>
    </attribute>
    <attribute name="minBMI" type="float" use="required"/>
    <attribute name="maxGröße" type="float" use="required">
      <annotation>
        <documentation xml:lang="de">
          Die maximale Größe in m.
        </documentation>
      </annotation>
    </attribute>
    <attribute name="maxBMI" type="float" use="required"/>
    <!-- Anhaltspunkte für Jugendliche (Menschen) -->
    <!-- http://www.bmi-online-rechner.de/bmi_tabelle_kinder_jugendliche.php -->
    <!-- http://www.netmoms.de/magazin/kinder/kinder-entwicklung/kinder-wachstumstabelle-2-19-jahre/ -->
    <!-- BMI = gewicht in kg / größe in m zum quadrat => Kg = BMI * m^2 -->
  </complexType>

  <complexType name="EigenschaftsWert">
    <attribute name="Durchschnitt" type="int" use="required"/>
    <attribute name="Minimum" type="int" use="required"/>
    <attribute name="Maximum" type="int" use="required"/>
  </complexType>

  <complexType name="ModWert">
    <attribute name="Mod" type="int" use="required"/>
  </complexType>

  <complexType name="EigenschaftsMods">
    <sequence>
      <element minOccurs="0" name="Mut" type="lebewesen:ModWert" />
      <element minOccurs="0" name="Glück" type="lebewesen:ModWert" />
      <element minOccurs="0" name="Klugheit" type="lebewesen:ModWert" />
      <element minOccurs="0" name="Intuition" type="lebewesen:ModWert" />
      <element minOccurs="0" name="Gewandtheit" type="lebewesen:ModWert" />
      <element minOccurs="0" name="Feinmotorik" type="lebewesen:ModWert" />
      <element minOccurs="0" name="Sympathie" type="lebewesen:ModWert" />
      <element minOccurs="0" name="Antipathie" type="lebewesen:ModWert" />
      <element minOccurs="0" name="Stärke" type="lebewesen:ModWert" />
      <element minOccurs="0" name="Konstitution" type="lebewesen:ModWert" />
    </sequence>
  </complexType>
  <complexType name="Mods">
    <sequence>
      <element name="Eigenschaften" type="lebewesen:EigenschaftsMods" minOccurs="0" />
      <element name="Besonderheiten"  minOccurs="0"  >
        <complexType>
          <sequence>
            <element ref="besonderheit:Besonderheit" maxOccurs="unbounded"/>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>
</schema>