lebewesen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:nota="http://nota.org/schema/nota.xsd" xmlns:misc="http://nota.org/schema/misc.xsd" xmlns:lebewesen="http://nota.org/schema/lebewesen.xsd" xmlns:pfad="http://nota.org/schema/pfad.xsd" xmlns:profession="http://nota.org/schema/profession.xsd" xmlns:talent="http://nota.org/schema/talent.xsd" xmlns:fertigkeit="http://nota.org/schema/fertigkeit.xsd" xmlns:besonderheit="http://nota.org/schema/besonderheit.xsd" targetNamespace="http://nota.org/schema/lebewesen.xsd" elementFormDefault="qualified">
  <import namespace="http://nota.org/schema/misc.xsd" schemaLocation="misc.xsd" />
  <import namespace="http://nota.org/schema/pfad.xsd" schemaLocation="pfad.xsd" />
  <import namespace="http://nota.org/schema/talent.xsd" schemaLocation="talent.xsd" />
  <import namespace="http://nota.org/schema/fertigkeit.xsd" schemaLocation="fertigkeit.xsd" />
  <import namespace="http://nota.org/schema/besonderheit.xsd" schemaLocation="besonderheit.xsd" />

  <element name="Organismen">
    <complexType>
      <sequence>
        <element name="EigenschaftsKosten" type="lebewesen:Eigenschaftskosten">
          <annotation>
            <documentation xml:lang='de-de'>
              Definiert die Kosten für jeden Punkt der in Eigenschaften gesteckt wird
            </documentation>
          </annotation>
        </element>
        <element name="Gattung" minOccurs="1" maxOccurs="unbounded" type="lebewesen:GattungDefinition" />
      </sequence>
    </complexType>
  </element>


  <complexType name="GattungDefinition">
    <sequence>
      <element ref="misc:Name" />
      <element ref="misc:Beschreibung" />
      <element name="EigenschaftsKosten" type="lebewesen:Eigenschaftskosten" minOccurs="0">
        <annotation>
          <documentation xml:lang='de-de'>
            Definiert die Kosten für jeden Punkt der in Eigenschaften gesteckt wird
          </documentation>
        </annotation>
      </element>
      <element name="Eigenschaften" minOccurs="0" type="lebewesen:StartEigenschaftswerte" />
      <element name="Mods" minOccurs="0" type="misc:Mods" />
      <element name="Art" maxOccurs="unbounded" minOccurs="1" type="lebewesen:ArtDefinition" />
    </sequence>
    <attributeGroup ref="misc:NamedElement" />
  </complexType>

  <complexType name="ArtDefinition">
    <sequence>
      <element ref="misc:Name" />
      <element name="Art" type="misc:Lokalisierungen">
        <unique name="SpracheUnique7">
          <selector xpath="misc:Lokalisirung" />
          <field xpath="./@Sprache" />
          <field xpath="./@Geschlecht" />
        </unique>
      </element>
      <element ref="misc:Beschreibung" />
      <element name="EigenschaftsKosten" type="lebewesen:Eigenschaftskosten" minOccurs="0">
        <annotation>
          <documentation xml:lang='de-de'>
            Definiert die Kosten für jeden Punkt der in Eigenschaften gesteckt wird
          </documentation>
        </annotation>
      </element>
      <element name="Eigenschaften" minOccurs="0" type="lebewesen:StartEigenschaftswerte" />
      <element name="Mods" minOccurs="0" type="misc:Mods" />

      <element ref="lebewesen:StandardPfade" minOccurs="0" />

      <element name="Morphe">
        <complexType>
          <choice>
            <element name="Morph" minOccurs="1" maxOccurs="unbounded" type="lebewesen:MorphDefinition" />
          </choice>
        </complexType>
      </element>
    </sequence>
    <attribute type="string" name="Id" use="required" />
  </complexType>


  <complexType name="Eigenschaftskosten">
    <sequence>
      <element name="Abschnitt" maxOccurs="unbounded">
        <complexType>
          <sequence>
            <element ref="misc:Kosten" maxOccurs="unbounded" />
          </sequence>
          <attribute name="von" use="required" type="integer">
            <annotation>
              <documentation xml:lang="de-de">
                Dies Kosten gelten ab dem angegebenen wert (inklusive).  
              </documentation>
            </annotation>
          </attribute>
          <attribute name="bis" use="required" type="integer">
            <annotation>
              <documentation xml:lang="de-de">
                Dies Kosten gelten bis zu dem angegebenen wert (inklusive).  
              </documentation>
            </annotation>
          </attribute>
          <attribute name="attribut" type="misc:Attribute" use="optional">
            <annotation>
              <documentation xml:lang="de-de">
                <![CDATA[Die kosten können sich auf ein spezielles attribut beziehen. Wenn nichts angegeben ist beziehen sie sich auf jedes attribut für das für diesen Wert kein Expliziter Abschnitt vorgesehen ist.]]>
              </documentation>
            </annotation>
          </attribute>
        </complexType>


      </element>
    </sequence>
  </complexType>


  <element name="Gattung" type="misc:NamedType" />
  <element name="Art" type="misc:NamedType" />
  <element name="Morph" type="misc:NamedType" />
  <element name="Lebensabschnitt" type="misc:NamedType" />

  <element name="StandardPfade">
    <annotation>
      <documentation xml:lang="de">
        Die Kulturen in denen sich dieses Wesen üblicherweise aufhält.
      </documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref="pfad:Pfad" maxOccurs="unbounded" />
      </sequence>
    </complexType>
  </element>

  <complexType name="LebewesenAuswahl">
    <choice>
      <element name="Or" type="lebewesen:LebewesenAuswahlen" />
      <element name="And" type="lebewesen:LebewesenAuswahlen" />
      <element name="Not" type="lebewesen:LebewesenAuswahl" />
      <element ref="lebewesen:Art" />
    </choice>
  </complexType>
  <complexType name="LebewesenAuswahlen">
    <choice maxOccurs="unbounded">
      <element name="Or" type="lebewesen:LebewesenAuswahlen" />
      <element name="And" type="lebewesen:LebewesenAuswahlen" />
      <element name="Not" type="lebewesen:LebewesenAuswahl" />
      <element ref="lebewesen:Art" />
    </choice>
  </complexType>


  <complexType name="StartEigenschaftswerte">
    <sequence>
      <element name="Mut" type="lebewesen:EigenschaftsWert" />
      <element name="Glück" type="lebewesen:EigenschaftsWert" />
      <element name="Klugheit" type="lebewesen:EigenschaftsWert" />
      <element name="Intuition" type="lebewesen:EigenschaftsWert" />
      <element name="Gewandtheit" type="lebewesen:EigenschaftsWert" />
      <element name="Feinmotorik" type="lebewesen:EigenschaftsWert" />
      <element name="Sympathie" type="lebewesen:EigenschaftsWert" />
      <element name="Antipathie" type="lebewesen:EigenschaftsWert" />
      <element name="Stärke" type="lebewesen:EigenschaftsWert" />
      <element name="Konstitution" type="lebewesen:EigenschaftsWert" />
      <element name="Fokus" type="lebewesen:EigenschaftsWert" />
      <element name="Einfluss" type="lebewesen:EigenschaftsWert" />
    </sequence>
  </complexType>

  <complexType name="MorphDefinition">
    <sequence>
      <element ref="misc:Name" />
      <element ref="misc:Beschreibung" />
      <element name="EigenschaftsKosten" type="lebewesen:Eigenschaftskosten" minOccurs="0">
        <annotation>
          <documentation xml:lang='de-de'>
            Definiert die Kosten für jeden Punkt der in Eigenschaften gesteckt wird
          </documentation>
        </annotation>
      </element>

      <element name="Eigenschaften" minOccurs="0" type="lebewesen:StartEigenschaftswerte" />

      <element ref="lebewesen:StandardPfade" minOccurs="0">
        <annotation>
          <documentation xml:lang="de">
            Die Kulturen in denen sich dieser Morph üblicherweise aufhält.
          </documentation>
        </annotation>

      </element>
      <element name="Mods" minOccurs="0" type="misc:Mods" />
      <element name="Entwiklung">
        <complexType>
          <choice maxOccurs="unbounded">
            <element name="Reihe" type="lebewesen:ReiheDefinition" />
            <element name="Punkt" type="lebewesen:PunktDefintion" />
          </choice>
        </complexType>
      </element>
      <element name="Lebensabschnitte">
        <complexType>
          <sequence>
            <element name="Lebensabschnitt" maxOccurs="unbounded" type="lebewesen:LebensabschnittDefinition" />
          </sequence>
        </complexType>
      </element>
    </sequence>
    <attributeGroup ref="misc:NamedElement" />
    <attribute type="misc:Geschlecht" name="Geschlecht" default="Unspezifiziert" use="optional" />
  </complexType>


  <complexType name="LebensabschnittDefinition">
    <sequence>
      <element name="Spielbar" minOccurs="0">
        <complexType>
          <sequence>
            <element ref="misc:Kosten" minOccurs="0" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="Name" type="misc:Lokalisierungen" />
      <element name="Beschreibung" type="misc:Lokalisierungen" />
      <element name="Mods" minOccurs="0" type="misc:Mods" />
    </sequence>
    <attribute name="startAlter" type="float" use="required" />
    <attribute name="endAlter" type="float" use="required" />
    <attributeGroup ref="misc:NamedElement" />
    <attribute name="minGröße" type="float" use="required">
      <annotation>
        <documentation xml:lang="de">
          Die minimale Größe in m.
        </documentation>
      </annotation>
    </attribute>
    <attribute name="minBMI" type="float" use="required" />
    <attribute name="maxGröße" type="float" use="required">
      <annotation>
        <documentation xml:lang="de">
          Die maximale Größe in m.
        </documentation>
      </annotation>
    </attribute>
    <attribute name="maxBMI" type="float" use="required" />
    <!-- Anhaltspunkte für Jugendliche (Menschen) -->
    <!-- http://www.bmi-online-rechner.de/bmi_tabelle_kinder_jugendliche.php -->
    <!-- http://www.netmoms.de/magazin/kinder/kinder-entwicklung/kinder-wachstumstabelle-2-19-jahre/ -->
    <!-- BMI = gewicht in kg / größe in m zum quadrat => Kg = BMI * m^2 -->
  </complexType>

  <complexType name="EigenschaftsWert">
    <attribute name="Durchschnitt" type="int" use="required" />
    <attribute name="Start" type="int" use="required" />
  </complexType>

  <complexType name="ModWert">
    <attribute name="Mod" type="float" use="required" />
    <attribute name="Type" use="optional" default="additiv">
      <simpleType>
        <restriction base="string">
          <enumeration value="additiv" />
          <enumeration value="multiplikativ" />
        </restriction>
      </simpleType>
    </attribute>
  </complexType>

  <complexType name="PunktDefintion">
    <sequence>
      <element ref="misc:Name" />
      <element ref="misc:Beschreibung" minOccurs="0" />
      <element ref="misc:Kosten" minOccurs="0" maxOccurs="unbounded" />
      <element name="Mods" minOccurs="0" type="misc:Mods" />
      <element name="Zeitpunkt" maxOccurs="2" minOccurs="1">
        <complexType>
          <attribute name="alter" type="float" />
        </complexType>
      </element>
      <element name="Verteilung" maxOccurs="unbounded" minOccurs="0">
        <complexType>
          <attribute name="alter" type="float" />
          <attribute name="Quantil" use="required">
            <simpleType>
              <restriction base="int">
                <maxInclusive value="100" />
                <minInclusive value="0" />
              </restriction>
            </simpleType>
          </attribute>
        </complexType>
      </element>
    </sequence>
  </complexType>

  <complexType name="ReiheDefinition">
    <sequence>
      <sequence>
        <element ref="misc:Name" />
        <element ref="misc:Beschreibung" minOccurs="0" />
        <element name="Schwelle" maxOccurs="unbounded">
          <complexType>
            <sequence>
              <element ref="misc:Name"  />
              <element ref="misc:Beschreibung" minOccurs="0" />
              <element ref="misc:Kosten" minOccurs="0" maxOccurs="unbounded" />
              <element name="Mods" minOccurs="0" type="misc:Mods" />
              <element name="Wert" maxOccurs="unbounded" type="float" />
            </sequence>
            <attribute name="Quantil" use="optional">
              <simpleType>
                <restriction base="int">
                  <maxInclusive value="100" />
                  <minInclusive value="0" />
                </restriction>
              </simpleType>
            </attribute>
          </complexType>
        </element>
        <element name="Verteilung" minOccurs="0" maxOccurs="unbounded">
          <complexType>
            <sequence>
              <element name="Wert" maxOccurs="unbounded" type="float" />
            </sequence>
            <attribute name="Quantil" use="required">
              <simpleType>
                <restriction base="int">
                  <maxInclusive value="100" />
                  <minInclusive value="0" />
                </restriction>
              </simpleType>
            </attribute>
          </complexType>
        </element>
      </sequence>
    </sequence>
    <attribute name="step" type="float" use="optional" default="1" />
    <attribute name="startAlter" type="float" use="optional" default="1" />
    <attribute name="einheit" type="string" use="optional" default="" />
    <attribute name="id" type="string" use="required" />
  </complexType>

  <complexType name="EigenschaftsMods">
    <choice maxOccurs="unbounded">
      <element name="Mut" type="lebewesen:ModWert" />
      <element name="Glück" type="lebewesen:ModWert" />
      <element name="Klugheit" type="lebewesen:ModWert" />
      <element name="Intuition" type="lebewesen:ModWert" />
      <element name="Gewandtheit" type="lebewesen:ModWert" />
      <element name="Feinmotorik" type="lebewesen:ModWert" />
      <element name="Sympathie" type="lebewesen:ModWert" />
      <element name="Antipathie" type="lebewesen:ModWert" />
      <element name="Stärke" type="lebewesen:ModWert" />
      <element name="Konstitution" type="lebewesen:ModWert" />
      <element name="Fokus" type="lebewesen:ModWert" />
      <element name="Einfluss" type="lebewesen:ModWert" />
      <!-- Abgeleitet -->
      <element name="Kraft" type="lebewesen:ModWert" />
      <element name="Geschwindigkeit" type="lebewesen:ModWert" />
      <element name="Initiative" type="lebewesen:ModWert" />
      <element name="Ausdauer" type="lebewesen:ModWert" />
      <!-- Sonstiges -->
      <element name="GlücksPunkte" type="lebewesen:ModWert" />
      <element name="Gewicht" type="lebewesen:ModWert" />
    </choice>
  </complexType>

</schema>