lebewesen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:nota="http://nota.org/schema/nota.xsd"
  xmlns:misc="http://nota.org/schema/misc.xsd"
  xmlns:lebewesen="http://nota.org/schema/lebewesen.xsd"
  xmlns:pfad="http://nota.org/schema/pfad.xsd"
  xmlns:profession="http://nota.org/schema/profession.xsd"
  xmlns:talent="http://nota.org/schema/talent.xsd"
  xmlns:fertigkeit="http://nota.org/schema/fertigkeit.xsd"
  xmlns:besonderheit="http://nota.org/schema/besonderheit.xsd"
  targetNamespace="http://nota.org/schema/lebewesen.xsd" elementFormDefault="qualified">
  <import namespace="http://nota.org/schema/misc.xsd" schemaLocation="misc.xsd" />
  <import namespace="http://nota.org/schema/pfad.xsd" schemaLocation="pfad.xsd" />
  <import namespace="http://nota.org/schema/talent.xsd" schemaLocation="talent.xsd" />
  <import namespace="http://nota.org/schema/fertigkeit.xsd" schemaLocation="fertigkeit.xsd" />
  <import namespace="http://nota.org/schema/besonderheit.xsd" schemaLocation="besonderheit.xsd" />

  <element name="Organismen">
    <complexType>
      <sequence>
        <element name="EigenschaftenGruppen">
          <complexType>
            <sequence>
              <element name="Gruppe" maxOccurs="unbounded">
                <complexType>
                  <sequence>
                    <element ref="misc:Name" />
                    <element ref="misc:Beschreibung" />
                  </sequence>
                  <attribute name="id"></attribute>
                </complexType>
              </element>
            </sequence>
          </complexType>
        </element>
        <element name="Entwiklung" type="lebewesen:EntwicklungDefinition" minOccurs="0" />
        <element name="Gattung" minOccurs="1" maxOccurs="unbounded"
          type="lebewesen:GattungDefinition" />
      </sequence>
    </complexType>
  </element>


  <complexType name="GattungDefinition">
    <sequence>
      <element ref="misc:Name" />
      <element ref="misc:Beschreibung" />
      <element name="Mods" minOccurs="0" type="misc:Mods" />
      <element name="Entwiklung" minOccurs="0" type="lebewesen:EntwicklungDefinition" />
      <element name="Lebensabschnitte" minOccurs="0">
        <complexType>
          <sequence>
            <element name="Lebensabschnitt" maxOccurs="unbounded"
              type="lebewesen:LebensabschnittDefinition" />
          </sequence>
        </complexType>
      </element>
      <element name="Art" maxOccurs="unbounded" minOccurs="1" type="lebewesen:ArtDefinition" />
    </sequence>
    <attributeGroup ref="misc:NamedElement" />
  </complexType>

  <complexType name="ArtDefinition">
    <sequence>
      <element ref="misc:Name" />
      <element name="Art" type="misc:Lokalisierungen">
        <unique name="SpracheUnique7">
          <selector xpath="misc:Lokalisirung" />
          <field xpath="./@Sprache" />
          <field xpath="./@Geschlecht" />
        </unique>
      </element>
      <element ref="misc:Beschreibung" />
      <element name="Mods" minOccurs="0" type="misc:Mods" />

      <element name="Entwiklung" minOccurs="0" type="lebewesen:EntwicklungDefinition" />


      <element ref="lebewesen:StandardPfade" minOccurs="0" />
      <element name="Lebensabschnitte" minOccurs="0">
        <complexType>
          <sequence>
            <element name="Lebensabschnitt" maxOccurs="unbounded"
              type="lebewesen:LebensabschnittDefinition" />
          </sequence>
          <attribute name="IgnoriereHöhere" default="false" use="optional" type="boolean" />
        </complexType>
      </element>
      <element name="Morphe">
        <complexType>
          <choice>
            <element name="Morph" minOccurs="1" maxOccurs="unbounded"
              type="lebewesen:MorphDefinition" />
          </choice>
        </complexType>
      </element>
    </sequence>
    <attribute type="string" name="Id" use="required" />
  </complexType>


  <element name="Gattung" type="misc:NamedType" />
  <element name="Art" type="misc:NamedType" />
  <element name="Morph" type="misc:NamedType" />
  <element name="Lebensabschnitt" type="misc:NamedType" />

  <element name="StandardPfade">
    <annotation>
      <documentation xml:lang="de"> Die Kulturen in denen sich dieses Wesen üblicherweise aufhält. </documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref="pfad:Pfad" maxOccurs="unbounded" />
      </sequence>
    </complexType>
  </element>

  <complexType name="LebewesenAuswahl">
    <choice>
      <element name="Or" type="lebewesen:LebewesenAuswahlen" />
      <element name="And" type="lebewesen:LebewesenAuswahlen" />
      <element name="Not" type="lebewesen:LebewesenAuswahl" />
      <element ref="lebewesen:Art" />
    </choice>
  </complexType>
  <complexType name="LebewesenAuswahlen">
    <choice maxOccurs="unbounded">
      <element name="Or" type="lebewesen:LebewesenAuswahlen" />
      <element name="And" type="lebewesen:LebewesenAuswahlen" />
      <element name="Not" type="lebewesen:LebewesenAuswahl" />
      <element ref="lebewesen:Art" />
    </choice>
  </complexType>


  <complexType name="MorphDefinition">
    <sequence>
      <element ref="misc:Name" />
      <element ref="misc:Beschreibung" />

      <element ref="lebewesen:StandardPfade" minOccurs="0">
        <annotation>
          <documentation xml:lang="de"> Die Kulturen in denen sich dieser Morph üblicherweise
            aufhält. </documentation>
        </annotation>

      </element>
      <element name="Mods" minOccurs="0" type="misc:Mods" />
      <element name="Entwiklung" type="lebewesen:EntwicklungDefinition" minOccurs="0" />
      <element name="Lebensabschnitte">
        <complexType>
          <sequence>
            <element name="Lebensabschnitt" maxOccurs="unbounded"
              type="lebewesen:LebensabschnittDefinition" />
          </sequence>
          <attribute name="IgnoriereHöhere" default="false" use="optional" type="boolean" />
        </complexType>
      </element>
    </sequence>
    <attributeGroup ref="misc:NamedElement" />
    <attribute type="misc:Geschlecht" name="Geschlecht" default="Unspezifiziert" use="optional" />
  </complexType>

  <complexType name="EntwicklungDefinition">
    <sequence>
      <choice maxOccurs="unbounded" minOccurs="0">
        <element name="Berechnung" type="lebewesen:FormelDefintion" />
        <element name="Bereich" type="lebewesen:StaticheDefinition" />
        <element name="Reihe" type="lebewesen:ReiheDefinition" />
        <element name="Punkt" type="lebewesen:PunktDefintion" />
      </choice>
    </sequence>
  </complexType>

  <complexType name="LebensabschnittDefinition">
    <sequence>
      <element name="Spielbar" minOccurs="0">
        <complexType>
          <sequence>
            <element ref="misc:Kosten" minOccurs="0" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="Name" type="misc:Lokalisierungen" minOccurs="0" />
      <element name="Beschreibung" type="misc:Lokalisierungen" minOccurs="0" />
      <element name="Mods" minOccurs="0" type="misc:Mods" />
    </sequence>
    <attribute name="startAlter" type="float" use="required" />
    <attribute name="endAlter" type="float" use="optional" />

    <!-- Anhaltspunkte für Jugendliche (Menschen) -->
    <!-- http://www.bmi-online-rechner.de/bmi_tabelle_kinder_jugendliche.php -->
    <!-- http://www.netmoms.de/magazin/kinder/kinder-entwicklung/kinder-wachstumstabelle-2-19-jahre/ -->
    <!-- BMI = gewicht in kg / größe in m zum quadrat => Kg = BMI * m^2 -->
  </complexType>


  <complexType name="ModWert">
    <attribute name="Eigenschaft" type="string" use="required" />
    <attribute name="Mod" type="float" use="required" />
    <attribute name="Type" use="optional" default="additiv">
      <simpleType>
        <restriction base="string">
          <enumeration value="additiv" />
          <enumeration value="multiplikativ" />
        </restriction>
      </simpleType>
    </attribute>
  </complexType>

  <complexType name="PunktDefintion">
    <sequence>
      <element ref="misc:Name" />
      <element ref="misc:Beschreibung" minOccurs="0" />
      <element ref="misc:Abkürzung" minOccurs="0" />
      <element ref="misc:Kosten" minOccurs="0" maxOccurs="unbounded" />
      <element name="Mods" minOccurs="0" type="misc:Mods" />
      <element name="Zeitpunkt" maxOccurs="2" minOccurs="1">
        <complexType>
          <attribute name="alter" type="float" />
        </complexType>
      </element>
      <element name="Verteilung" maxOccurs="unbounded" minOccurs="0">
        <complexType>
          <attribute name="alter" type="float" />
          <attribute name="Quantil" use="required">
            <simpleType>
              <restriction base="int">
                <maxInclusive value="100" />
                <minInclusive value="0" />
              </restriction>
            </simpleType>
          </attribute>
        </complexType>
      </element>
    </sequence>
    <attribute name="id" type="string" use="required" />
    <attribute name="Reihenfolge" type="float" use="optional" default="0" />
    <attribute name="gruppe" type="string" use="optional" />

  </complexType>

  <complexType name="FormelDefintion">
    <sequence>
      <element ref="misc:Name" />
      <element ref="misc:Beschreibung" minOccurs="0" />
      <element ref="misc:Abkürzung" minOccurs="0" />
      <element name="Formel" type="string">
        <annotation>
          <documentation>Die Formel kann folgende Variabeln enthalten: MU, KL, etc…. Zusätzlich eine
            Funkttion für alle anderen Entwicklungseigenschaften mit ihrer Id Das Ergebnis ist eine
            Zahl. </documentation>
        </annotation>
      </element>

    </sequence>
    <attribute name="einheit" type="string" use="optional" default="" />
    <attribute name="Reihenfolge" type="float" use="optional" default="0" />
    <attribute name="gruppe" type="string" use="optional" />
    <attribute name="id" type="string" use="required" />
  </complexType>

  <complexType name="StaticheDefinition">
    <sequence>
      <element ref="misc:Name" />
      <element ref="misc:Beschreibung" minOccurs="0" />
      <element ref="misc:Abkürzung" minOccurs="0" />
      <element ref="misc:Kosten" minOccurs="0" maxOccurs="unbounded" />
      <element name="Verteilung" maxOccurs="unbounded">
        <complexType>
          <sequence>
            <element name="Wert" maxOccurs="unbounded">
              <complexType>
                <simpleContent>
                  <extension base="float">
                    <attribute name="Quantil" use="required">
                      <simpleType>
                        <restriction base="int">
                          <maxInclusive value="100" />
                          <minInclusive value="0" />
                        </restriction>
                      </simpleType>
                    </attribute>
                  </extension>
                </simpleContent>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
    </sequence>
    <attribute name="minInklusiv" type="float" use="required" />
    <attribute name="maxInklusiv" type="float" use="required" />
    <attribute name="gruppe" type="string" use="optional" />
    <attribute name="step" type="float" use="optional" default="1" />
    <attribute name="diskret" type="boolean" use="optional" default="true" />
    <attribute name="startAlter" type="float" use="optional" default="1" />
    <attribute name="einheit" type="string" use="optional" default="" />
    <attribute name="Reihenfolge" type="float" use="optional" default="0" />
    <attribute name="id" type="string" use="required" />
  </complexType>

  <complexType name="ReiheDefinition">
    <sequence>
      <sequence>
        <element ref="misc:Name" />
        <element ref="misc:Beschreibung" minOccurs="0" />
        <element ref="misc:Abkürzung" minOccurs="0" />
        <element name="Verteilung" maxOccurs="unbounded">
          <complexType>
            <sequence>
              <element name="Wert" maxOccurs="unbounded">
                <complexType>
                  <simpleContent>
                    <extension base="float">
                      <attribute name="Quantil" use="required">
                        <simpleType>
                          <restriction base="int">
                            <maxInclusive value="100" />
                            <minInclusive value="0" />
                          </restriction>
                        </simpleType>
                      </attribute>
                    </extension>
                  </simpleContent>
                </complexType>
              </element>
            </sequence>
          </complexType>
        </element>
        <element name="Schwelle" minOccurs="0" maxOccurs="unbounded">
          <complexType>
            <sequence>
              <element ref="misc:Name" minOccurs="0" />
              <element ref="misc:Beschreibung" minOccurs="0" />
              <element ref="misc:Kosten" minOccurs="0" maxOccurs="unbounded" />
              <element name="Mods" minOccurs="0" type="misc:Mods" />
              <element name="Wert" maxOccurs="unbounded" type="float" />
            </sequence>

          </complexType>
        </element>

      </sequence>
    </sequence>
    <attribute name="step" type="float" use="optional" default="1" />
    <attribute name="startAlter" type="float" use="optional" default="1" />
    <attribute name="einheit" type="string" use="optional" default="" />
    <attribute name="Reihenfolge" type="float" use="optional" default="0" />
    <attribute name="gruppe" type="string" use="optional" />

    <attribute name="id" type="string" use="required" />
  </complexType>

  <complexType name="EigenschaftsMods">
    <sequence>
      <element name="Mod" type="lebewesen:ModWert" maxOccurs="unbounded" />
    </sequence>
  </complexType>

</schema>