misc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:misc="http://nota.org/schema/misc.xsd"
  xmlns:talent="http://nota.org/schema/talent.xsd"
  xmlns:lebewesen="http://nota.org/schema/lebewesen.xsd"
  xmlns:fertigkeit="http://nota.org/schema/fertigkeit.xsd"
  xmlns:nota="http://nota.org/schema/nota.xsd" xmlns:pfad="http://nota.org/schema/pfad.xsd"
  xmlns:besonderheit="http://nota.org/schema/besonderheit.xsd"
  targetNamespace="http://nota.org/schema/misc.xsd" elementFormDefault="qualified">
  <import namespace="http://nota.org/schema/besonderheit.xsd" schemaLocation="besonderheit.xsd" />
  <import namespace="http://nota.org/schema/fertigkeit.xsd" schemaLocation="fertigkeit.xsd" />
  <import namespace="http://nota.org/schema/pfad.xsd" schemaLocation="pfad.xsd" />
  <import namespace="http://nota.org/schema/talent.xsd" schemaLocation="talent.xsd" />
  <import namespace="http://nota.org/schema/nota.xsd" schemaLocation="nota.xsd" />
  <import namespace="http://nota.org/schema/lebewesen.xsd" schemaLocation="lebewesen.xsd" />

  <complexType name="NamedType">
    <attributeGroup ref="misc:NamedElement" />
  </complexType>

  <complexType name="NamedTypeReqiredeValue">
    <complexContent>
      <extension base="misc:NamedType">
        <attribute name="Wert" type="int" use="required" />
      </extension>
    </complexContent>
  </complexType>

  <complexType name="NamedTypeOptionalValue">
    <complexContent>
      <extension base="misc:NamedType">
        <attribute name="Wert" type="int" use="optional" />
      </extension>
    </complexContent>
  </complexType>

  <element name="Tag" type="misc:NamedType" />

  <complexType name="TagDefinition">
    <complexContent>
      <extension base="misc:NamedType">
        <sequence>
          <element ref="misc:Name" />
          <element ref="misc:Beschreibung" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>


  <complexType name="LevelDefinition">
    <sequence>
      <element ref="misc:Kosten" minOccurs="0" maxOccurs="unbounded" />
      <element ref="misc:Name" minOccurs="0" />
      <element ref="misc:Beschreibung" minOccurs="0" />
      <element name="Voraussetzung" minOccurs="0">
        <annotation>
          <documentation xml:lang="de"> Die voraussetzungenm welche zum erlernen des Levels gegeben
            sein müssen. </documentation>
        </annotation>
        <complexType>
          <sequence>
            <element name="LevelVoraussetzung" type="misc:LevelAuswahl" minOccurs="0" maxOccurs="1">
              <annotation>
                <documentation xml:lang="de"> Andere Level die der Charakter bereist besitzen muss
                  um dieses Level zu erlernen. </documentation>
              </annotation>
            </element>
            <element name="Zusätzlich" type="misc:BedingungsAuswahl" minOccurs="0" maxOccurs="1">
              <annotation>
                <documentation xml:lang="de"> Weitres bedingungen die der Charakter erfüllen muss.
                  ACHTUNG, zu diesem Zeitpunkt gab es noch keine möglichkeit Vorteile und
                  Fertigkeiten zu erwerben. </documentation>
              </annotation>
            </element>

          </sequence>
        </complexType>
      </element>
      <choice maxOccurs="unbounded" minOccurs="0">
        <element ref="fertigkeit:Fertigkeit" />
        <element name="Talent">
          <complexType>
            <attribute name="EP" type="positiveInteger" use="required" />
            <attributeGroup ref="misc:NamedElement" />
          </complexType>
        </element>
        <element ref="besonderheit:Besonderheit" />
        <element ref="misc:Tag" />
      </choice>
    </sequence>
    <attribute name="WiederhoteNutzung" type="int" use="optional" default="1" />
    <attribute name="Id" type="string" use="required">
      <annotation>
        <documentation xml:lang="de"> Die Id des Levels, dies wird verwendet damit andere Level auf
          dieses verweisen können. (Nicht übergreifend) </documentation>
      </annotation>
    </attribute>

  </complexType>

  <element name="Levels">
    <complexType>
      <annotation>
        <documentation xml:lang="de"> Eine Liste von leveln die in der jeweiligen Proffesion oder
          ähnlihcem erlernt werden kann. </documentation>
      </annotation>
      <sequence>
        <element name="Level" maxOccurs="unbounded" type="misc:LevelDefinition">
          <annotation>
            <documentation xml:lang="de"> Das einzelen Level, welches erlernt werden kann. Diese
              beinhaltet die erlernten Fertigkeiten und Talente, sowie voraussetzungen. </documentation>
          </annotation>


        </element>
      </sequence>
    </complexType>
    <key name="LevelPK">
      <selector xpath='./misc:Level' />

      <field xpath="@Id" />
    </key>

    <keyref name="LevelFK" refer="misc:LevelPK">
      <selector xpath=".//misc:Level" />
      <field xpath="@Id" />
    </keyref>
  </element>

  <element name="Level" type="misc:NamedType" />

  <element name="Tags">
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="1" name="Tag" type="misc:TagDefinition" />
      </sequence>
    </complexType>
  </element>

  <complexType name="Verbreitung">
    <sequence>
      <element name="Pfad" minOccurs="0" maxOccurs="unbounded">
        <complexType>
          <attributeGroup ref="misc:NamedElement" />
          <attribute name="Verbreitung" use="required" type="int" />
        </complexType>
      </element>
    </sequence>
    <attribute name="Wert" use="required" type="positiveInteger" />

  </complexType>

  <simpleType name="positiveInt">
    <restriction base="int">
      <minInclusive value="1" />
    </restriction>
  </simpleType>

  <attributeGroup name="NamedElement">
    <attribute name="Id" use="required" type="string" />
  </attributeGroup>

  <element name="Kosten" type="misc:KostenDefinition" />
  <complexType name="KostenDefinition">
    <attributeGroup ref="misc:NamedElement" />
    <attribute name="Berechnung" use="required" type="string" />
  </complexType>
  <element name="KostenDefinitionen" type="misc:KostenDefinitions" />

  <simpleType name="kostenType">
    <restriction base="string">
      <enumeration value="over zero"></enumeration>
      <enumeration value="epual zero"></enumeration>
      <enumeration value="below zero"></enumeration>
    </restriction>
  </simpleType>

  <complexType name="KostenDefinitions">
    <sequence>
      <element name="KostenDefinition" maxOccurs="unbounded">
        <complexType>
          <sequence>
            <element ref="misc:Name" />
            <element name="Abkürzung" type="misc:Lokalisierungen">
              <unique name="SpracheUnique6">
                <selector xpath="misc:Lokalisirung" />
                <field xpath="./@Sprache" />
                <field xpath="./@Geschlecht" />
              </unique>
            </element>
            <element ref="misc:Beschreibung" />
          </sequence>
          <attribute name="StandardKosten" use="optional" default="false" type="boolean">
            <annotation>
              <documentation>Diese werden verwendet zum steigern von Talenten und fertigkeiten. Und
                werden nach sessions vergeben.</documentation>
            </annotation>
          </attribute>
          <attribute name="type" type="misc:kostenType" default="over zero" use="optional" />
          <attributeGroup ref="misc:NamedElement" />
        </complexType>
      </element>
      <element name="TalentKostenFunktion">
        <complexType>
          <simpleContent>
            <extension base="string">
              <annotation>
                <documentation>Die Formel kann folgende Variabeln enthalten: KOMPLEXITÄT,
                  KOMPLEXITÄT_NUM, LEVEL. Das Ergebnis ist eine Zahl. </documentation>
              </annotation>
              <attribute name="KostenArt" type="token" use="required" />
              <attribute name="ResultType" use="required">
                <annotation>
                  <documentation>Gibt an ob das ergebnis der Funktion die differenz zum vorherigen
                    angibt oder die gesamtkosten von 0.</documentation>
                </annotation>
                <simpleType>
                  <restriction base="string">
                    <enumeration value="differenz" />
                    <enumeration value="total" />
                  </restriction>
                </simpleType>
              </attribute>
            </extension>
          </simpleContent>
        </complexType>
      </element>
    </sequence>
  </complexType>


  <complexType name="LevelAuswahl">
    <choice>
      <element name="Or" type="misc:LevelAuswahlen" />
      <element name="And" type="misc:LevelAuswahlen" />
      <element name="Not" type="misc:LevelAuswahl" />
      <element name="Level">
        <complexType>
          <attributeGroup ref="misc:NamedElement" />
          <attribute type="int" use="optional" default="1" name="mindestVorkommen" />
        </complexType>
      </element>
    </choice>
  </complexType>
  <complexType name="LevelAuswahlen">
    <choice maxOccurs="unbounded">
      <element name="Or" type="misc:LevelAuswahlen" />
      <element name="And" type="misc:LevelAuswahlen" />
      <element name="Not" type="misc:LevelAuswahl" />
      <element name="Level">
        <complexType>
          <attributeGroup ref="misc:NamedElement" />
          <attribute type="int" use="optional" default="1" name="mindestVorkommen" />
        </complexType>
      </element>

    </choice>
  </complexType>


  <complexType name="BedingungsAuswahl">
    <choice minOccurs="1">
      <element name="Or" type="misc:BedingungsAuswahlen" />
      <element name="And" type="misc:BedingungsAuswahlen" />
      <element name="Not" type="misc:BedingungsAuswahl" />
      <element ref="fertigkeit:Fertigkeit" />
      <element ref="talent:Talent" />
      <element ref="besonderheit:Besonderheit" />
      <element ref="misc:Tag" />
    </choice>
  </complexType>
  <complexType name="BedingungsAuswahlen">
    <choice maxOccurs="unbounded" minOccurs="1">
      <element name="Or" type="misc:BedingungsAuswahlen" />
      <element name="And" type="misc:BedingungsAuswahlen" />
      <element name="Not" type="misc:BedingungsAuswahl" />
      <element ref="fertigkeit:Fertigkeit" />
      <element ref="talent:Talent" />
      <element ref="besonderheit:Besonderheit" />
      <element ref="misc:Tag" />
    </choice>
  </complexType>

  <element name="Name" type="misc:Lokalisierungen">
    <unique name="SpracheUnique">
      <selector xpath="misc:Lokalisirung" />
      <field xpath="./@Sprache" />
      <field xpath="./@Geschlecht" />
    </unique>
  </element>
  <element name="Beschreibung" type="misc:Lokalisierungen">
    <unique name="SpracheUnique1">
      <selector xpath="misc:Lokalisirung" />
      <field xpath="./@Sprache" />
      <field xpath="./@Geschlecht" />
    </unique>
  </element>
  <element name="Abkürzung" type="misc:Lokalisierungen">
    <unique name="SpracheUnique2">
      <selector xpath="misc:Lokalisirung" />
      <field xpath="./@Sprache" />
      <field xpath="./@Geschlecht" />
    </unique>
  </element>


  <complexType name="Lokalisierungen">
    <sequence>
      <element name="Lokalisirung" maxOccurs="unbounded">
        <complexType>
          <simpleContent>
            <extension base="string">
              <attribute name="Sprache" type="language" use="required" />
              <attribute name="Geschlecht" use="optional" default="Unspezifiziert"
                type="misc:Geschlecht" />
            </extension>
          </simpleContent>
        </complexType>
      </element>
    </sequence>
  </complexType>

  <simpleType name="Geschlecht">
    <restriction base="string">
      <enumeration value="Neutral" />
      <enumeration value="Männlich" />
      <enumeration value="Weiblich" />
      <enumeration value="Unspezifiziert" />
    </restriction>
  </simpleType>

  <complexType name="ParameterDefinition">
    <choice>
      <element name="Talent">
        <complexType>
          <sequence>
            <element name="Input" minOccurs="0" maxOccurs="unbounded">
              <complexType>
                <attribute name="identifier" use="required"></attribute>
                <attribute name="type" use="optional">
                  <simpleType>
                    <restriction base="string">
                      <enumeration value="TaB"></enumeration>
                      <enumeration value="TaA"></enumeration>
                      <enumeration value="TaW"></enumeration>
                      <enumeration value="Komplexität"></enumeration>
                    </restriction>
                  </simpleType>
                </attribute>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="Text">
        <complexType>
          <sequence>
            <element name="Input" maxOccurs="1" minOccurs="0">
              <complexType>
                <attribute name="identifier" use="required"></attribute>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="Zahl">
        <complexType>
          <sequence>
            <element name="Input" maxOccurs="1" minOccurs="0">
              <complexType>
                <attribute name="identifier" use="required"></attribute>
              </complexType>
            </element>
          </sequence>
          <attribute name="min" use="required" type="int"></attribute>
          <attribute name="max" use="required" type="int"></attribute>
        </complexType>
      </element>
      <element name="Auswahl">
        <complexType>
          <sequence>
            <element name="Input" maxOccurs="1" minOccurs="1">
              <complexType>
                <sequence>
                  <element name="Wahl" maxOccurs="unbounded">
                    <complexType>
                      <sequence>
                        <element ref="misc:Name" />
                      </sequence>
                      <attribute name="Id" type="string" use="required"></attribute>
                    </complexType>
                  </element>
                </sequence>
                <attribute name="identifier" use="required"></attribute>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
    </choice>
  </complexType>


  <complexType name="Mods">
    <sequence>
      <element name="Eigenschaften" type="lebewesen:EigenschaftsMods" minOccurs="0" />
      <element name="Besonderheiten" minOccurs="0">
        <complexType>
          <sequence>
            <element ref="besonderheit:Besonderheit" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="Tags" maxOccurs="1" minOccurs="0">
        <complexType>
          <sequence>
            <element ref="misc:Tag" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>
</schema>